<!-- Portfolio item -->
<div class="portfolio-item">
    <!-- Link to the item image (Put the long description on  "a" title)-->
    <a href="{{ site.zoom-img }}" title="{{ site.description }}" class="nivobox" data-lightbox-gallery="portfolio">
      <div class="hover">
        <p class="zoomi"><i class="fa fa-search"></i></p>
        <!-- Item short title -->
        <p class="portfolio-item-title"><strong>{{ site.title }}</strong><br/> {{ site.subtitle }}</p>
      </div>
      <div class="hover-bg-wrapper">
        <div class="hover-bg"></div>
      </div>
      <div class="portfolio-item-thumbnail">
        <!-- Thumbnail of the portfolio image (400x360 for retina display) -->
        <img src="{{ site.thumb-img }}" alt="">
      </div>                        
    </a>
  </div>
  <!-- /Portfolio item --> 