 <!-- SECTION ITEM -->
 <div class="line row">
        <!-- Margin Collums (necessary for the timeline effect) -->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-point "></div>
        <!-- / Margin Collums -->
        <!-- Item Content -->
        <div class="col-md-8 content-wrap bg1">
          <div class="line-content">
            <!-- Subtitle -->
            <h3 class="section-item-title-1">{{ page.title }}</h3>
            <!-- /Subtitle -->
            <!-- content -->
            <ul class="skills-list">
              <!-- item-list -->
              <li>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" data-percent="{{ page.completion1 }}" style="width: {{ page.completion1 }};">
                      <span class="sr-only">{{ page.completion1 }} Complete</span>
                  </div>
                  <span class="progress-type">{{ page.subtitle1 }}</span>
                  <span class="progress-completed">{{ page.completion1 }}</span>
                </div>
              </li>
              <!-- /item list -->
              <!-- item-list -->
              <li>
                <div class="progress">
                  <div class="progress-bar progress-bar-2" role="progressbar" data-percent="{{ page.completion2 }}" style="width: {{ page.completion2 }};">
                      <span class="sr-only">{{ page.completion2 }} Complete</span>
                  </div>
                  <span class="progress-type">{{ page.subtitle2 }}</span>
                  <span class="progress-completed">{{ page.completion2 }}</span>
                </div>
              </li>
              <!-- /item list -->
              <!-- item-list -->
              <li>
                <div class="progress" title="Doing my best!">
                  <div class="progress-bar progress-bar-3" role="progressbar" data-percent="{{ page.completion3 }}" style="width: {{ page.completion3 }};">
                      <span class="sr-only">{{ page.completion3 }} Complete</span>
                  </div>
                  <span class="progress-type">{{ page.subtitle3 }}</span>
                  <span class="progress-completed">{{ page.completion3 }}</span>
                </div>
              </li>
              <!-- /item list -->
            </ul>
            <!-- /Content -->
          </div>
        </div>
        <!-- /Item Content -->
        <!-- Margin Collum-->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <!-- /Margin Collum-->
      </div>
      <!-- /SECTION ITEM -->